# Excluded Managed Package Metadata
# Still allows customization, but doesn't track unchangeable files
# Add all installed managed packages to this list
# Excluded Managed Packages - non editable components

# Copado
**/copado__*
**/cmcSf__*

# FinServ managed metadata
**/FinServ__*

# vlocity_ins managed metadata
**/vlocity_ins__*

# OIQ managed metadata
**/OIQ__*

# sf_com_apps managed metadata
**/sf_com_apps__*

# Salesforce Billing package
**/blng__*

# Marketing Cloud Connect
**/et4ae5__*

# Salesforce CPQ
**/SBQQ__*

# MyTrailhead Application
**/trailheadapp__*

# Lightning Web Components
**/lwc/omniDesigner*
**/lwc/omniscript*
**/lwc/trailingDocuments*
**/lwc/xom*

# Excluded Metadata Types - Performance / Data-like
#Documents are mostly created in Production and are not deployed between Sandboxes. You can safely ignore them in Git.
#Reports and report types are mostly created in Production and are not deployed between Sandboxes. You can safely ignore them in Git.
**/documents/*
**/dashboards/*
**/installedPackages/*
**/reports/*
**/staticresources/*
force-app/main/default/staticresources/*
**/translations/*
**/objecttranslations/*

# Certificates should not be part of the repository
**/certs/*

# Excluded Metadata Types - Security
**/authprovider/*
**/samlssoconfigs/*

# Excluded Metadata Types - Obsolete as of API v44
**/flowdefinitions/*

# Default SFDX - Dreamhouse .gitignore content
# Salesforce dev
.sfdx/
.localdevserver/

# LWC VSCode autocomplete
jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# VS Code project settings
.vscode/*
!.vscode/extensions.json
.pmdCache
/scan_results.csv
/quickstart.sh
.copado/*
